<div class="container" id="page-content">
        <!-- Content here -->
        <div class="row">
            <div class="col-sm-4">
                <img id="profile-pic" src="https://avatars2.githubusercontent.com/u/5952189?s=460&v=4" alt="Profile Image">
            </div>
            <div class="col-sm-8">
                <h1>Christopher L. Ashby</h1>

                <p>
       Hello, My Name is Christopher L. Ashby I am a confident, hardworking, self-motivated individual. I'm a native of Tallahassee the capital city of Florida, and I’m the oldest of four siblings. I’m a graduate of Tallahassee Community College and Florida Agriculture and Mechanical University. For the past 4 years, I have worked in a very challenging career as a Behavior specialist working and interacting with students with severe emotional behavior disorders, autism, language impairments, and other significant academic and health issues. My experiences in the workplace have taught me to remain calm in stressful situations, to be patient, as well as to collaborate with teammates to create a learning environment suitable for students with disabilities.  In my spare time, I enjoy traveling, gardening, and watching hummingbirds. Currently, I’m a student in the I/O Avenue program where I’m gaining the necessary skills to become a great junior web-developer.   Coding is my new found passion and a gateway into new career paths. I’m very passionate about learning and advancing my skills in this challenging career path.  I’m ready to face this challenge and take advantage of this new opportunity. 
                </p>

                <p>
                   christopher.lee.ashby@gmail.com
                    
                </p>

                <a class="btn btn-outline-dark" href="https://github.com/ryankopinsky" role="button" target="_blank">GitHub</a>
             </div>
        </div>
    </div>


